<!-- <h1>Books#show</h1>
<p>Find me in app/views/books/show.html.erb</p> -->
<div class="container mt-3">
    <div class="row">
        <div class="col-xs-3">

            <%= render 'users/profile', user: @user %>


            <%= render 'new', book: @book %>
        </div>
        <div class="col-xs-9">
            <h2>Book detail</h2>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <td>
                            <%= link_to user_path(@user) do %>
                                <%= attachment_image_tag @user, :profile_image, :width => '40', :height => '40', format: 'jpeg', fallback: "no_image.jpg" %>
                                <%= @user.name %>
                            <% end %>
                        </td>
                        <td><%= @hon.title %></td>
                        <td><%= @hon.body %></td>
                        <% if @hon.user_id === current_user.id %>
                            <td><%= link_to 'Edit', edit_book_path, class: "btn btn-secondary" %></td>
                            <td><%= link_to 'Destroy', book_path(@hon), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？" %></td>
                        <% end %>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>